<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    input box plz
</div>
<div name="form_setting">
    <form action="setting" method="post">
        월급 받는 날 : <input type="text" name="salaryDay"> 일
        월급 : <input type="text" name="salary"> 원
        1주 몆일 근무 : <input type="text" name="salaryDay"> 일
        1주 근무 시간 : <input type="text" name="salaryDay"> 시간
        출근 시간 : <input type="time" name="salaryDay"> 시간
        퇴근 시간 : <input type="time" name="salaryDay"> 시간
        <input type="submit" name="submit">제출
        <input type="reset" name="reset">리셋
    </form>
</div>
<a href="workList.html">list</a>
</body>
</html>