--------------------------------scroll----------------------------------------
<div class="old">
    <div id="scrollBox">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box" id="scrollEnd"></div>
    </div>
</div>
--------------------------------Observer--------------------------------------
<div class="new">
    <div id="observerBox">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box" id="observerEnd"></div>
    </div>
</div>
-----------------------------------lazyLoading--------------------------------
<div class="imgBox new">
    <div id="imgBox">
        <img src="img/redvelvet_seulgiimg2.jpg" width="400" height="400">
    </div>
</div>